@{
    ViewData["Title"] = "Acceuil";
}

<div class="text-center">
    <h1 class="display-4">Bienvenu à la Page D'acceuil</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<div class="text-center">
    1- Avoir une application ASP.Net Core de base nommée "BikeWatcher" qui tourne sur sa machine
    Démarrer un site avec asp dotnet core :
</div>
<div class="text-center">
    2-Créer un repository public sur github, bitbucket ou gitlab pour héberger votre code.
</div>

<div class="text-center">
    3-Publier votre code sur le repository à chaque avancée
</div>

<div class="text-center">
    4- Supprimer du menu les pages de bases pour 2 liens de menu fonctionnels vers les pages vides suivantes : "Accueil", "Liste des stations", "Carte", "Mes favoris"
</div>

<div class="text-center">
    5-Compléter la pages "Accueil" pour présenter votre travail, votre nom/prenom, cette liste d'objectifs (que vous rayerez au fur et à mesure) et l'URL où votre code source est visible


</div>



<div class="text-center">
    6- Se brancher sur l'API VeloV du grand Lyon pour récupérer les données en temps réel
    -API OpenData du Grand Lyon :
    -re des données issues d'un flux JSON :
</div>




<div class="text-center">
    7- Afficher les données de l'API sous forme de tableau sur la page "Liste des stations" (les stations sont triées par ordre alphabétique)
    Razor Cheat sheet :

</div>

<div class="text-center">
    8-Afficher les données de l'API sous forme de carte sur la page "Carte" (chaque station sera représentée par une épingle à son emplacement)
    Intégrer une carte openstreet map sur un site :
</div>

<div class="text-center">
    9-jouter sur caque épingle de la carte la possibilité de cliquer pour afficher une infobulle qui indiquera le nombre de vélos et de places à la station en question
</div>

<div class="text-center">
    10-  Ajouter la possibilité de créer un compte utilisateur sur votre application
</div>

<div class="text-center">
    11-  Ajouter sur la page "Liste des stations" et/ou "Carte" la possibilité de rajouter des stations en favoris
</div>

<div class="text-center">
    12-Compléter la page "Mes favoris" pour n'afficher sous forme de tableau que les stations marquées en favoris
</div>


<div class="text-center">
    13- Stocker les stations favorites dans une base SQL
    Prise en main d'EF Core dans une application web MVC
</div>


<div class="text-center">
    14-  Centrer automatiquement la carte par rapport à la position de l'utilisateur
    Récupérer la position de l'utilisateur
</div>


<div class="text-center">
    15- Trier automatiquement la liste des stations par rapport à la position de l'utilisateur
</div>



<div class="text-center">
    16-rendre votre application bilingue Français / Anglais
</div>

<div class="text-center">
    17-Rendre votre application utilisable à la fois pour la ville de Lyon et la ville de Bordeaux (par exemple un bouton permettra de passer de l'un à l'autre dans le menu)
    Une API affichant les données pour la ville de Bordeaux

    <div class="text-center">
        18- Déployer votre code sur un serveur accessible publiquement en consultation
        Déployer une application ASP.Net Core sur un serveur Debian :
    </div>

    <div class="text-center">
        19- rmettre aux utilisateurs de signaler un vélo en panne

        <div class="text-center">
            20-Faire en sorte que votre site soit agréable à utiliser sur mobile (il ne doit pas comporter ascenseur horizontal)
        </div>

        <div class="text-center">
            21-BONUS : toute fonctionnalité supplémentaire sera valorisée, pensez-juste à l'indiquer sur votre page d'accueil que je puisse la comptabiliser

        </div>
